<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-inline-start: 55px">Client Signup</h1>
            </div>

            <!--The input format-->
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <!-- Email -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input Email is not valid!">
                        <input nz-input placeholder="Email" formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Password -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input Password is not valid!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Confirm Password -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid!">
                        <input nz-input type="password" placeholder="Confirm password" formControlName="confirmPassword" id="confirmPassword" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Name -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input name is not valid!">
                        <input nz-input placeholder="Name" formControlName="name" id="name" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Last Name -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input last name is not valid!">
                        <input nz-input placeholder="Lastname" formControlName="lastname" id="lastname" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Phone -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input phone is not valid!">
                        <input nz-input placeholder="Phone" formControlName="phone" id="phone" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Register Button -->
                <!-- Register Button -->
                <nz-form-item>
                    <button nz-button nzType="primary" class="login-form-button login-form-margin">
                        Register
                    </button>
                </nz-form-item>

            </form>
        </div>
    </div>
</div>
