<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="text-align: center;">Company Signup</h1>
            </div>

            <!--The input format-->
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <!-- Email -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input Email is not valid!">
                        <input nz-input placeholder="Email" formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Password -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input Password is not valid!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="password" />
                    </nz-form-control>
                </nz-form-item>
                
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="Please confirm your password">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                    </nz-form-control>
                </nz-form-item>
                
                

                <!-- Name -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input name is not valid!">
                        <input nz-input placeholder="Firstname" formControlName="name" id="email" />
                    </nz-form-control>
                </nz-form-item>
                
                <!-- Last Name -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input last name is not valid!">
                        <input nz-input placeholder="Lastname" formControlName="lastname" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Phone -->
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input phone is not valid!">
                        <input nz-input placeholder="Phone" formControlName="phone" id="phone" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Register Button -->
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
                        Register
                    </button>
                    Or <a routerLink="/login"> login now! </a>
            </form>
        </div>
    </div>
</div>